$title:#100d0d;
$text: #777777;
$accent: #f9af31;
$bg: #ffffff;
$bg-components: #FEF7EA;
$default: #b2b2b2;
$line:#eaeaea;
$slider:#cf1515;
$green: #269c47;
$border: rgba(249, 175, 49, 0.3); 


%montserrat-400 {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

%montserrat-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%montserrat-600 {
  font-family: 'Montserrat-Semi Bold', sans-serif;
  font-weight: 600;
}

%nunito-400 {
font-family: 'Nunito-Regular', sans-serif;
font-weight: 400;
}